.banner{
    background: var(--cor-azul-degrade);
    color: var(--cor-branca);
    text-align: center;
    padding: 2.5rem 2rem;
}
.banner-h2{
    font-size: 1.12rem;
    font-weight: 700;
}
.banner-p{
    font-weight: 400;
    margin: 1rem 0;
}
.banner-search{
    width: 100%;
    color: var(--cor-branca);
    border: 1px solid var(--cor-branca);
    border-radius: 1.5rem;
    padding: 1rem;
    background: transparent;
    text-align: center;
}
.banner-search::placeholder{
    font-family: var(--font-principal);
    font-weight: 300;
    font-size: 0.87rem;
    text-align: center;
    color: var(--cor-branca);
    background: url(../assets/Lupa.svg) no-repeat;
    background-position: 0.5rem;
    
}

@media screen and (min-width: 1024px) {
    .banner{
        padding: 6rem 0;
    }
    .banner-h2{
        font-size: 2.25rem;
    }
    .banner-p{
        margin: 1.5rem;
    }
    .banner-search{
        width: 45%;
    }
    .banner-search::placeholder{
        background-position: 5rem;
    }
    
}
@media  screen and (min-width: 1728px) {
    .banner-search{
        width: 30%;
    }
    .banner-search::placeholder{
        text-align: center;
        padding: 0;
    }
}